#include "resource.h"
#include <windows.h>

IDI_APP_ICON ICON "ZeroRunEncoder.Icon.ico"

IDR_MAIN_MENU MENU
BEGIN
	POPUP "File(&F)"
	BEGIN
		MENUITEM "Run(&R)\tEnter", 							ID_RUN_BUTTON
		MENUITEM "Stop(&T)\tEnter", 						ID_STOP_BUTTON, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Save Settings(&S)\tCtrl+S", 				ID_ACC_SAVE_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM "Close(&C)\tEsc", 							ID_CLOSE_BUTTON
	END
	
	POPUP "Edit(&E)"
	BEGIN
		MENUITEM "Next Mode(&M)\tF2", 						ID_ACC_NEXT_MODE
		MENUITEM "Set Input Path(&I)...\tF3", 				ID_SET_INPUT_PATH
		MENUITEM "Set Output Path(&O)...\tF4", 				ID_SET_OUTPUT_PATH
		MENUITEM SEPARATOR
		MENUITEM "Reset Settings(&R)\tCtrl+Shift+R", 		ID_ACC_RESET_SETTTINGS
		MENUITEM SEPARATOR
		MENUITEM "Clear Text Panel(&C)\tCtrl+Shift+C", 		ID_ACC_CLEAR_CONSOLE
	END
	
	POPUP "Logs(&L)"
	BEGIN
		MENUITEM "Log Record(&L)\tCtrl+Alt+L", 				ID_ACC_LOG_RECORD
		MENUITEM "Debug Logging(&D)\tCtrl+Alt+D", 			ID_ACC_DEBUG_LOGGING
		MENUITEM SEPARATOR
		MENUITEM "Open Logs Folder(&F)\tCtrl+Alt+F", 		ID_ACC_OPEN_LOGS
	END
	
	POPUP "Tools(&T)"
	BEGIN
		MENUITEM "Archiver(&A)...\tCtrl+Shift+A", 			ID_ACC_SHOW_ARCHIVER
		MENUITEM SEPARATOR
		MENUITEM "Config(&C)...\tF5", 						ID_CONFIG_BUTTON
	END
	
	POPUP "About(&A)"
	BEGIN
		MENUITEM "Help(&H)\tF1", 							ID_ACC_SHOW_HELP, HELP
	END
END



IDR_ACCELERATOR ACCELERATORS
BEGIN
	VK_F1, 	ID_ACC_SHOW_HELP, VIRTKEY
	VK_F2, 	ID_ACC_NEXT_MODE, VIRTKEY
	VK_F3, 	ID_SET_INPUT_PATH, VIRTKEY
	VK_F4, 	ID_SET_OUTPUT_PATH, VIRTKEY
	VK_F5, 	ID_CONFIG_BUTTON, VIRTKEY
	"S", 	ID_ACC_SAVE_SETTINGS, VIRTKEY, CONTROL
	"R", 	ID_ACC_RESET_SETTTINGS, VIRTKEY, CONTROL, SHIFT
	"C", 	ID_ACC_CLEAR_CONSOLE, VIRTKEY, CONTROL, SHIFT
	"A", 	ID_ACC_SHOW_ARCHIVER, VIRTKEY, CONTROL, SHIFT
	"L", 	ID_ACC_LOG_RECORD, VIRTKEY, CONTROL, ALT
	"D", 	ID_ACC_DEBUG_LOGGING, VIRTKEY, CONTROL, ALT
	"F", 	ID_ACC_OPEN_LOGS, VIRTKEY, CONTROL, ALT
END



IDD_CONFIG_DIALOG DIALOGEX 0, 0, 231, 220
STYLE WS_POPUP | WS_SYSMENU
CAPTION "Config"
FONT 9, "MS Shell Dlg"
BEGIN
	GROUPBOX		"GUI App Config", IDC_STATIC, 2, 2, 228, 60
	LTEXT			"Encoder Path : ", IDC_STATIC, 5, 17, 220, 10
	EDITTEXT		IDC_EDIT_ENCODER_PATH, 56, 16, 155, 12, ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON		"...", ID_SET_ENCODER_PATH, 212, 16, 16, 12, WS_BORDER
	LTEXT			"Archiver Buffer Size [Max:24MiB]", IDC_STATIC, 5, 32, 220, 10
	EDITTEXT		IDC_EDIT_ARC_BUF_SIZE, 194, 31, 21, 12, ES_AUTOHSCROLL | ES_RIGHT | ES_NUMBER
	LTEXT			"MiB", IDC_STATIC, 216, 33, 12, 10
	CHECKBOX		"Use Save Last Settings", IDC_CHK_USE_SAVE_LAST, 5, 47, 220, 10, BS_AUTOCHECKBOX
	
	GROUPBOX		"Encoder Config", IDC_STATIC, 2, 67, 228, 120
	LTEXT			"", IDC_LABEL_ENC_CNT, 5, 82, 220, 10
	COMBOBOX		IDC_CMB_ENC_CNT, 200, 81, 28, 60, CBS_DROPDOWNLIST |  WS_VSCROLL | WS_TABSTOP
	LTEXT			"", IDC_LABEL_ENC_BUF_SIZE, 5, 97, 220, 10
	EDITTEXT		IDC_EDIT_ENC_BUF_SIZE, 184, 96, 31, 12, ES_AUTOHSCROLL | ES_RIGHT | ES_NUMBER
	LTEXT			"KiB", IDC_LABEL_ENC_BUF_UNIT, 216, 98, 12, 10
	LTEXT			"", IDC_LABEL_CHUNK_SIZE, 5, 112, 220, 10
	COMBOBOX		IDC_CMB_CHUNK_SIZE, 184, 111, 28, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT			"Byte", IDC_LABEL_CHUNK_UNIT, 212, 113, 16, 10
	LTEXT			"", IDC_LABEL_CHUNK_OFFSET, 5, 127, 220, 10
	COMBOBOX		IDC_CMB_CHUNK_OFFSET, 200, 126, 28, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	CHECKBOX		"", IDC_CHK_USE_MAP_BIN, 5, 142, 220, 10, BS_AUTOCHECKBOX
	CHECKBOX		"", IDC_CHK_USE_CONV_BIN, 5, 157, 220, 10, BS_AUTOCHECKBOX
	CHECKBOX		"", IDC_CHK_USE_FAT_LIMIT, 5, 172, 220, 10, BS_AUTOCHECKBOX
	
	DEFPUSHBUTTON	"Save", ID_SAVE_BUTTON, 63, 195, 50, 15
	PUSHBUTTON		"Cancel", ID_CANCEL_BUTTON, 117, 195, 50, 15
END



IDD_ARCHIVER_DIALOG DIALOGEX 0, 0, 231, 94
STYLE WS_POPUP | WS_SYSMENU
CAPTION "Archiver"
FONT 10, ""
BEGIN
	GROUPBOX		"Mode", IDC_STATIC, 2, 2, 228, 24
	RADIOBUTTON		"Create Archive", ID_ARC_CREATE_MODE, 53, 11, 56, 10, WS_GROUP | WS_TABSTOP
	RADIOBUTTON		"Extract Archive", ID_ARC_EXTRACT_MODE, 126, 11, 58, 10, WS_TABSTOP
	LTEXT			"", IDC_LABEL_ARC_INPUT_PATH, 5, 34, 64, 10
	EDITTEXT		IDC_EDIT_ARC_INPUT_PATH, 72, 33, 141, 12, ES_AUTOHSCROLL
	PUSHBUTTON		"...", ID_ARC_SET_INPUT_PATH, 213, 33, 15, 12, WS_BORDER
	LTEXT			"", IDC_LABEL_ARC_OUTPUT_PATH, 5, 55, 64, 10
	EDITTEXT		IDC_EDIT_ARC_OUTPUT_PATH, 72, 54, 156, 12, ES_AUTOHSCROLL | WS_DISABLED
	DEFPUSHBUTTON	"Run", ID_ARC_RUN_BUTTON, 65, 74, 47, 12
	PUSHBUTTON		"Close", ID_ARC_CLOSE_BUTTON, 115, 74, 47, 12
END



IDD_HELP_DIALOG DIALOGEX 0, 0, 280, 185
STYLE WS_POPUP | WS_SYSMENU
CAPTION "Help"
FONT 9, "MS Shell Dlg"
BEGIN
	EDITTEXT		IDC_EDIT_HELP_CONTENT, 2, 2, 276, 182, ES_READONLY | ES_MULTILINE | WS_VSCROLL
END
